  <mat-toolbar color="primary">
    <button (click)="drawer?.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span [ngClass]="{someClass: colored}" [ngStyle]="{'font-size': fontSize}">{{title}}</span>
    <span class="example-spacer"></span>
    <app-exchange></app-exchange>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
