<div class="wrapper">
  <app-header [title]="title" [drawer]="drawer"></app-header>
  <app-side-menu (setSidenavControll)="setSadenav($event)">
    <!-- <app-input-field (inputValue)="inputValueCange($event, inputVal)" [inputVal]="inputVal"></app-input-field>
    <app-form-field (clickButton)="chengeStateParent()">home</app-form-field>
    <app-text-field [toogleState]="toogleState"></app-text-field> -->
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Поиск" #searchFeald (input)="search(searchFeald.value)">
    </mat-form-field>
    <div>
      <mat-grid-list cols="4" rowHeight="2:3" *ngIf="products$ | async as products; else loadingPlock">
        <mat-grid-tile *ngFor="let product of products | slice:0:10 | filterPipe : searchText; index as myIndex; odd as isOdd">
          <app-product-card [product]="product" [isOdd]="isOdd"></app-product-card>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </app-side-menu>

  <ng-template #loadingPlock>
    <div class="loading">
       <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>

<app-modal></app-modal>
